.title-text{
    font-size: 45px;
    color: var(--clr-font);
    text-align: center;
}

h1{
    color: var(--clr-font);
    text-align: center;
    margin: 40px 0;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 70svh;
}

.post{
    color: var(--clr-font);
    width: 60%;
    background-color: var(--clr-primary-4);
    padding: 25px;
    display: flex;
    margin: 20px 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: 1px solid var(--clr-primary-2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s;
    animation: fadeIn 1s ease forwards;
    text-wrap: wrap;
}
.post:hover{
        transform: translateY(-10px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }
.post p{
    text-wrap: wrap;
}


h2{
    margin: 0 0 15px 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.718);
    overflow: auto;
    padding-top: 60px;
}

.modal-content {
    background-color: var(--clr-primary-3);
    margin: 5% auto;
    padding: 30px;
    width: 80%;
    max-width: 700px;
    color: var(--clr-font);
    border-radius: 5px;
    border: 1px solid var(--clr-primary-2);
}

.close {
    color: var(--clr-font);
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 15px;
    top: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.go-to-login{
    position: absolute;
    left: 10px;
    top: 70px;
    width: 45px;
    height: 45px;
    background-color: var(--clr-primary-2);    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: 0.5s;
}
.go-to-login:hover{
    opacity: 0.8;

}
.go-to-login img{
    width: 35px;
    height: 35px;
}

pre{
    white-space: pre-wrap;
}